# OSX
.DS_Store
.AppleDouble
.LSOverride

# Node
node_modules
npm-debug.log

*.iml
.DB

*.log
.env

# Dist
build
public/assets

# Sublime
*.sublime-workspace
*.sublime-project

# Webstorm
.idea

# VS Code
.history

# Tests
coverage

# Husky
.husky
